# Redirect HTTPS to HTTP
RewriteCond %{HTTP:X-Forwarded-Proto} =https
RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<Files ~ "\.sqlite$">
    Order allow,deny
    Deny from All
</Files>

<Files ~ "\.config$">
    Order allow,deny
    Deny from all
</Files>

<Files ~ "\.log$">
    Order allow,deny
    Deny from all
</Files>
ErrorDocument 404 /notfound.html
Access-Control-Allow-Origin: http://underget.com
Access-Control-Allow-Origin: http://whoer.net
Access-Control-Allow-Methods: GET, POST, PUT
Access-Control-Allow-Headers: Content-Type

AuthName "Restricted Area" 
AuthType Basic 
AuthUserFile /.htpasswd 
AuthGroupFile /dev/null 
<Files myipexample.html>
require valid-user
</Files>
