
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" > <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <!--[if gt IE 8]><!--><base href="/"><!--<![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>CrossBrowserTesting App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <script type="text/javascript">
        //force https if running on cbt server
        if (window.location.hostname.indexOf('crossbrowsertesting.com') > -1 && window.location.protocol != "https:"){
            window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
        }
    </script>

    <!-- VARIOUS FAVICONS -->
    <!-- Apple Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://crossbrowsertesting.com/design/images/favicons/apple-touch-icon-57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://crossbrowsertesting.com/design/images/favicons/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://crossbrowsertesting.com/design/images/favicons/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://crossbrowsertesting.com/design/images/favicons/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://crossbrowsertesting.com/design/images/favicons/apple-touch-icon-60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://crossbrowsertesting.com/design/images/favicons/apple-touch-icon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://crossbrowsertesting.com/design/images/favicons/apple-touch-icon-76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://crossbrowsertesting.com/design/images/favicons/apple-touch-icon-152.png">
    <!-- Favicons -->
    <link rel="icon" href="https://crossbrowsertesting.com/design/images/favicons/favicon-196.png" sizes="196x196">
    <link rel="icon" href="https://crossbrowsertesting.com/design/images/favicons/favicon-96.png" sizes="96x96">
    <link rel="icon" href="https://crossbrowsertesting.com/design/images/favicons/favicon-32.png" sizes="32x32">
    <link rel="icon" href="https://crossbrowsertesting.com/design/images/favicons/favicon-16.png" sizes="16x16">
    <link rel="icon" href="https://crossbrowsertesting.com/design/images/favicons/favicon-128.png" sizes="128x128">

    <!--[if IE]><link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"><![endif]-->
    <!-- MS Metro Tiles -->
    <meta name="application-name" content="CrossBrowserTesting">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="https://crossbrowsertesting.com/design/images/favicons/mstile-144.png">
    <meta name="msapplication-square70x70logo" content="https://crossbrowsertesting.com/design/images/favicons/mstile-70.png">
    <meta name="msapplication-square150x150logo" content="https://crossbrowsertesting.com/design/images/favicons/mstile-150.png">
    <meta name="msapplication-wide310x150logo" content="https://crossbrowsertesting.com/design/images/favicons/mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="https://crossbrowsertesting.com/design/images/favicons/mstile-310.png">
    

    <link rel="stylesheet" href="https://app.crossbrowsertesting.com/css/app.css?v=36">

    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ldabplgpogjknofonmccpbgeoolbcbfm">

    <script src="https://app.crossbrowsertesting.com/js/lib/modernizr.min.js?v=3.6"></script>



</head>
<body ng-controller="MainCtrl" iframe-ui-elements>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N9VMMG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N9VMMG');</script>
    <!-- End Google Tag Manager -->

    <div class="wrapper" ng-class="wrapperClasses">

        <header class="navbar app-navbar navbar-fixed-top" show-over-applet type="header">
            
            <div class="notice-bar ng-cloak" ng-if="noticeBar.shown" ng-class="{urgent:  account.subscription.minutes_available == 0}" ng-cloak ng-switch on="account.subscription.state">

                <div ng-switch-when="TRIAL">
                    <span>There are <a href="{{app.webDomain}}/account" class="minutes-left">{{account.subscription.minutes_available}} test minutes</a> left on your 7-day free trial. Paid plans get unlimited Live Testing. Select a plan to keep service! </span>
                    <a class="marketing-btn" ng-click="showPricingTableDialog()">Select a plan</a>
                </div>

                <div ng-switch-when="UNSUBSCRIBED">
                    
                    <div ng-if="account.isCodePenUser">
                        <span>CodePens are always free!  Sign up to test other urls.</span>
                        <a class="marketing-btn" ng-click="showPricingTableDialog()">Select a plan</a>
                        <a class="codepen-brand" href="#"><img src="https://app.crossbrowsertesting.com/images/codepen.png" alt="CodePen Logo"></a>
                    </div>

                    <div ng-if="!account.isCodePenUser">
                        <span>There are <a href="{{app.webDomain}}/account" class="minutes-left">{{account.subscription.minutes_available}} test minutes</a> left on your account. Paid plans get unlimited Live Testing. Select a plan to keep service!</span>
                        <a class="marketing-btn" ng-click="showPricingTableDialog()">Select a plan</a>
                    </div>

                </div>

                <div ng-switch-default>
                    <span>You have used <a href="{{app.webDomain}}/account" class="minutes-left">{{account.subscription.total_usage_minutes}} out of {{account.subscription.period_balance_minutes}} minutes</a>. Please refill your minutes or upgrade your plan.</span>
                    <a class="marketing-btn" ng-click="showPricingTableDialog()">Refill or Upgrade Plan</a>
                </div>
            </div>
            
            <div class="navbar-inner">
                <nav class="top-bar">
                    <a class="brand" ng-href="{{app.homeLink}}">CrossBrowserTesting</a>
                    <ul class="nav primary ng-cloak" ng-cloak ng-show="app.loggedIn">
                        <li class="live-test">
                            <a href="/livetests/run"><i></i>Live Tests</a>
                        </li>
                        <li class="screenshots ng-cloak">
                            <a href="/screenshots/run"><i></i>Screenshots</a>
                        </li>
                        <li class="selenium-test ng-cloak">
                            <a href="/selenium/run"><i></i>Selenium</a>
                        </li>
                        <li class="search ng-cloak">
                            <a href="/search"><i></i>Search</a>
                        </li>
                    </ul>
                    <ul class="nav primary ng-cloak" ng-cloak ng-show="app.publicView && sharedSearchLink">
                        <li class=" ng-cloak">
                            <a ng-href="{{sharedSearchLink}}"><i class="symbolset-icon symbolset-list"></i>Shared Test Results</a>
                        </li>
                    </ul>
                    <ul class="nav utility pull-right ng-cloak" ng-show="app.loggedIn" ng-cloak>
                        <li class="local-tunnel dropdown"
                            tooltip="{{tunnelMenu.tooltip}}"
                            tooltip-placement="bottom"
                            tooltip-trigger="mouseenter"
                            tooltip-popup-delay="800">
                            <a ng-click="showLocalConnectionDialog()">
                                <i ng-class="tunnelMenu.icon"></i>
                                <span class="nav-label">{{tunnelMenu.label}}</span>
                            </a>
                        </li>
                        <li class="support dropdown" ng-show="app.showSupportLinks">
                            <a cbt-dropdown-toggle="support"><i></i>Support
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" show-over-applet name="support" type="toggle">
                                <li><a ng-href="{{app.webDomain}}/faq" target="_blank">FAQs</a></li>
                                <li><a ng-href="{{app.webDomain}}/apidocs" target="_blank">API Docs</a></li>
                                <li><a ng-href="{{app.webDomain}}/contact" target="_blank">Contact Us</a></li>
                                <li><a ng-href="{{app.webDomain}}/content/about-us" target="_blank">About Us</a></li>
                                <li><a href="http://twitter.com/xbrowsertesting" target="_blank">Follow Us</a></li>
                            </ul>
                        </li>
                        <li class="user dropdown">
                            <a cbt-dropdown-toggle="account">
                                <span class="account">
                                    <i></i>
                                    <span class="nav-label">Account</span>
                                </span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" show-over-applet name="account" type="toggle">
                                <li class="menu-label">Logged in as</li>
                                <li><span class="username">{{account.email}} <small ng-show="account.username != account.email">({{account.username}})</small></span></li>
                                <li class="divider"></li>
                                <li><a ng-href="{{app.webDomain}}/account" target="_blank"><i class="symbolset-icon symbolset-write"></i>Manage Account</a></li>
                                <li><a ng-click="logout()"><i class="symbolset-icon symbolset-logout"></i>Logout</a></li>
                            </ul>
                        </li>
                        <li class="notifications dropdown">
                            <a cbt-dropdown-toggle="notifications">
                                <i class="count" ng-class="notifications.length && 'red'">{{notifications.length}}</i>
                                <span class="nav-label">Notifications</span>
                                <b class="caret"></b>
                            </a>


                            <div class="notification-center unstyled dropdown-menu" show-over-applet name="notifications" type="toggle">
                                <ul focus-scroll>
                                    <li ng-hide="notifications.length" class="notification">
                                        <a>
                                            <div class="notification-content"> You have no notifications </div>
                                        </a>
                                    </li>
                                    <li ng-repeat="note in notifications" class="notification">
                                        <a ng-href="{{note.link}}" target="_blank" class="">
                                            <span class="notification-thumb" ng-show="note.thumb">
                                                <img ng-src="{{note.thumb}}" fallback-src="/images/cbt-logo-small.png" alt="image">
                                            </span>
                                            <span class="notification-content">
                                                <p class="description" ng-bind-html="note.message"></p>
                                                <span class="time">{{note.time | date:'shortTime'}}</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            <div>

                        </li>
                    </ul>
                </nav>
            </div>
        </header>


        <div class="app-container" ng-class="{'has-sidebar': sidebar.shown}">

            <!-- side message -->
            <aside class="info-sidebar" ng-show="sidebar.shown" ng-include="sidebar.template"></aside>

            <!-- loading spinner -->
            <div id="initial-load-spinner" style="margin-top:40px;text-align:center" ng-show="showLoadingSpinner">
                <img src="https://app.crossbrowsertesting.com/images/cbt-spinner.gif" alt="Loading animation">
            </div>

            <!-- App loading error -->
            <div id="app-error-message" style="display:none" ng-show="showLoadingError" class="fourohfour-frame">
                <div class="message">
                    <h2>Ouch!</h2>
                    <div class="well">
                        <p>{{loadingError}}</p>
                        Please try again!
                        <br>Please let us know if this continues to be an issue!<br><br>
                         <a class="btn btn-success" onclick="window.location.reload()">Try Again</a>
                    </div>
                </div>
            </div>

             <!-- Angular view switch -->
            <div class="app" ng-view ng-hide="showLoadingError"></div>

        </div>

        <div id="tunnelAppletContainer"></div>

    </div>

    <script type="text/javascript">

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    </script>

    
    <!-- Minified to extras.min.js 
    <script src="/js/lib/json3.js"></script>
    <script src="/js/lib/polyfills.js"></script>
    <script src="/js/lib/es5-shim.js"></script>
    <script src="/js/lib/es5-sham.js"></script>
    <script src="/js/lib/novnc-0.5.1/util.js"></script>
    -->
    <script src="https://app.crossbrowsertesting.com/js/lib/extras.min.js?v=3.6"></script>
 
    <!-- Minified to libraries.min.js 
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/swfobject.js"></script>
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/jquery.ui.highlight.min.js"></script>
    <script src="/js/lib/jquery.color.js"></script>
    <script src="/js/lib/jquery.pnotify.js"></script>
    <script src="/js/lib/jquery.html5.placeholder.shim.js"></script>
    -->
    <script src="https://app.crossbrowsertesting.com/js/lib/libraries.min.js?v=3.6"></script>


    <!--[if gt IE 8]><!-->

    <!-- Minified to angular.all.min.js  
    <script src="/js/lib/angular/angular.js"></script>
    <script src="/js/lib/angular/angular-route.js"></script>
    <script src="/js/lib/angular/angular-resource.js"></script>
    <script src="/js/lib/angular/angular-sanitize.js"></script>
    <script src="/js/lib/angular/angular-animate.js"></script>
    <script src="/js/lib/angular/angular-ui-bootstrap.js"></script>
    <script src="/js/lib/angular/angular-ui.js"></script>
    <script src="/js/lib/angular/angular-file-upload/angular-file-upload-shim.js"></script>
    <script src="/js/lib/angular/angular-file-upload/angular-file-upload.js"></script>
    <script src="/js/lib/angular/angular-readmore.js"></script>
    -->

    <script src="https://app.crossbrowsertesting.com/js/lib/angular.all.min.js?v=3.6"></script>

    <!-- Socket and environment -->
    <script src="https://app.crossbrowsertesting.com/api/v3/env.js?v=3.6"></script>
    <script src="https://app.crossbrowsertesting.com/api/v3/socket.io/socket.io.js"></script>
   
    <!-- custom angular related javascript files
    <script src="/js/controllers.main.js"></script>
    <script src="/js/controllers.livetests.js"></script>
    <script src="/js/controllers.screenshots.js"></script>
    <script src="/js/controllers.selenium.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/app.js"></script>  -->

   
    <script src="https://app.crossbrowsertesting.com/js/app.min.js?v=36"></script> 

    <script src="https://app.crossbrowsertesting.com/js/lib/twitter.typeahead.min.js"></script>

    <!--<![endif]-->

    <script type="text/javascript">

        //bootstrap angular 
        $(document).ready(function() {

            var supportedBrowser = true,
                messageHtml = '',
                minVersionIE = 9;
            
            if ($.browser.msie && ($.browser.version < minVersionIE || document.documentMode < minVersionIE)){

                /* we need to determine which browser mode / document mode we are in
                    - if IE has changed browser mode, then jquery reports that version
                    - if IE has changed document mode, the document.documentMode reports that version
                    - if either browser mode or document is < minVersionIE, then show message accordingly
                */
                
                //console.log('IE browser mode is ',$.browser.version)
                //console.log('IE document mode is ', document.documentMode)
                    
                supportedBrowser = false;

                //set message specifics
                if ($.browser.version < minVersionIE){
                    messageHtml += '<p>Invalid version of Internet Explorer detected: IE ' + $.browser.version +'</p> Your browser is either outdated (IE ' + minVersionIE + ' is the minimum), or you are running IE in <a href="http://windows.microsoft.com/en-us/internet-explorer/use-compatibility-view" target="_blank">Compatibility Mode</a>. Please turn off Compatability Mode or upgrade your browser to use the CrossBrowserTesting App!<br><br>';
                    messageHtml += '<a class="btn btn-danger" href="http://browsehappy.com/">Upgrade Browser</a>';
                }
                else if (document.documentMode < minVersionIE){
                    messageHtml += '<p>Unsupported Document Mode: IE ' + document.documentMode + '.</p> Your browser says it is IE ' + $.browser.version + ', but in order to use the CrossBrowserTesting.com App, the Document Mode must be ' + minVersionIE + ' or higher.';
                }
            }
            /* Doesn't work as FF 4 reports itself as 2.0.1
            else if ($.browser.mozilla && parseInt($.browser.version) < 4){
                supportedBrowser = false;
                messageHtml += '<p>Invalid version of Firefox detected: FF ' + $.browser.version +'</p> Your browser is outdated (FF 4 is the minimum). Please upgrade Firefox to use this web page.<br><br>';
            }*/


            if (supportedBrowser){
                angular.bootstrap(document.documentElement, ['cbtApp']);
            }
            else {
                
                //hide spinner and show error
                $('#initial-load-spinner').hide();
                $('#app-error-message').show();

                $('#app-error-message h2').text('Yikes!');
                $('#app-error-message .well').html(messageHtml);

                window.document.title = 'Unsupported Browser';

                //need analytics log for this case
                ga('create', 'UA-3598151-1' , 'auto'); //cant know if logged in or not
                ga('set', 'page', '/app_unsupported_browser');
                ga('send', 'pageview');
            }

            
        });
   </script>
</body>
</html>
