
#wprx-page {
z-index: 2999999999;
position:fixed;
width:100%;
top:0px;
text-align:center;
/* font:14px/22px "Conv_MyriadPro-Cond", Helvetica,sans-serif !important; */
font:14px/22px Helvetica,sans-serif !important;
display: block !important;
}

#wprx-hider {
position: absolute;
z-index: 2999999997;
text-align: center;
width: 70px;
margin-left: auto;
margin-right: auto;
left: 0px;
right: 0px;
width: 122px;
background: #ccc;
background: url(../images/show2.png) no-repeat;
}

#wprx-hider a {
    text-decoration:none;
    color: #fff !important;
    font-size: 13px !important;
    margin-left: 15px;
}


#wprx-page #wprx-wrapper {
position:absolute;
width: 860px;
display: inline-block;
text-align: center;
left: 0px;
right: 0px;
margin: 0 auto;
z-index: 2999999998;
}

#wprx-page img {border-style:none;}
#wprx-page a {color:#000;}
#wprx-page * {outline:none;}
a:hover {text-decoration:none;}
#wprx-page input, #wprx-page textarea, #wprx-page select {
    font:100% arial,sans-serif;
    vertical-align:middle;
}
#wprx-page form, #wprx-page fieldset {
    margin:0;
    padding:0;
    border-style:none;
}

#wprx-page .wprx-logo a {
height: 100%;
display: block;
}

#wprx-page #wprx-hideme a {
    color: #fff;
    text-decoration:none;
    font-size: 13px !important;
}

#wprx-page #wprx-hideme img {
    vertical-align: bottom !important;
}

#wprx-hideme {
    z-index: 9999999999;
}

#wprx-page .wprx-container {
	margin: 0 auto;
	/* width: 960px; */
	position: relative;
}
#wprx-page .wprx-container #wprx-wrapper {
	padding-top: 150px;
	overflow: visible;
}



#wprx-page {
	/* background: #fff; */
}
#wprx-page #wprx-header {
	height: 130px;
	position: relative;
	z-index: 20;
	display: block;
	overflow: visible;
}
#wprx-page .wprx-container {
	width: 850px;
}
#wprx-page #wprx-header .wprx-logo{
	margin:0 20px 0 20px;
	width:180px;
	height:130px;
	overflow:hidden;
	display:block;
	text-indent:-9999px;
	cursor:pointer;
	float: left;
}
#wprx-page .wprx-ads {
	float: right;
	margin: 23px 0 0;
}
#wprx-page .wprx-head-frame {
	margin-left: 170px;
	width: 700px;
}
#wprx-page .wprx-join-site-form {
	width: 100%;
	position: relative;
	margin: 0 0 18px;
	padding: 23px 0 0;
}
#wprx-page .wprx-join-site-form .wprx-input-box {
	position: relative;
	float: left;
	width: 453px;
	background: #fff;
	-webkit-border-radius:4px;
	border-radius:4px;
	height: 48px;
}
#wprx-page .wprx-join-site-form .wprx-btn-holder {
	float: left;
	margin: 0 0 0 5px;
}
#wprx-page .wprx-join-site-form .wprx-input-box .wprx-ico {
	position: absolute;
	top: 16px;
	left: 17px;
}
#wprx-page .wprx-join-site-form .wprx-opener {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 44px;
	height: 44px;
	background: url(../images/ico16.png) no-repeat;
}
#wprx-page .wprx-join-site-form .wprx-input-holder{
	display: block;
	height: 19px;
	padding: 16px 60px 13px 46px;
}
#wprx-page .wprx-join-site-form .wprx-input-holder input{
	float: left;
	background: none;
	border: none;
	width: 100%;
	padding: 0;
	height: 19px;
	/* font: 16px/19px "Lucida Grande",Helvetica,sans-serif !important; */
	font: 16px/19px Helvetica,sans-serif !important;
}
#wprx-page .wprx-join-site-form .wprx-button {
	display: inline-block;
	vertical-align: top;
	background: url(../images/btn-05.png) no-repeat;
	width: 114px;
	height: 48px;
	font-weight: bold;
	font-size: 16px !important;
	line-height: 48px;
	color: #fff;
	border: none;
	cursor: pointer;
	text-shadow: -1px -1px 0 #439738;
}
#wprx-page .wprx-join-site-form .wprx-drop {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	right: 2px;
	margin-top: 1px;
	background: #f3f3ed;
	-webkit-border-radius:4px 0 4px 4px;
	border-radius:4px 0 4px 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	padding: 17px 25px 5px 18px;
}
#wprx-page .wprx-join-site-form.active .wprx-drop {
	display: block;
}
#wprx-page .wprx-join-site-form.active .wprx-opener {
	background-color: #f3f3ed;
	-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	z-index: 5;
}
#wprx-page .wprx-join-site-form.active .wprx-opener:after{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 25px;
	background: #f3f3ed;
	margin: -10px 0 0;
}
#wprx-page .wprx-join-site-form .wprx-row {
	width: 100%;
	position: relative;
	margin: 0 0 8px;
}
#wprx-page .wprx-join-site-form .wprx-row:after{
	display:block;
	clear:both;
	content:'';
}
#wprx-page .wprx-join-site-form .wprx-contol-label {
	float: left;
	width: 150px;
	color: #6e6e6e;
	font-size: 13px !important;
	line-height: 17px;
	text-align: left;
}
#wprx-page .wprx-join-site-form .wprx-input-frame {
	margin-left: 170px;
}
#wprx-page .wprx-join-site-form .wprx-icon {
	display: inline-block;
	vertical-align: middle;
}
#wprx-page .wprx-radio-holder {
	cursor:pointer;
	float: left;
}
#wprx-page .wprx-radio-holder + .wprx-radio-holder {
	margin-left: 32px;
}
#wprx-page .wprx-radio {
	/* display:none; */
	/* float:left; */
	margin:2px;
	padding:0;
	/* width:0; */
	/* height:0; */
}
#wprx-page span.wprx-radio, #wprx-page span.wprx-radio.wprx-checked {
	float:left;
	display: block;
	margin:0 5px 0 0;
	background: url(../images/radio.png) no-repeat;
	width:16px;
	height:16px;
	overflow: hidden;
	cursor:pointer;
}
#wprx-page span.wprx-radio.wprx-checked {
	background-position: 0 -16px;
}
#wprx-page .wprx-radio-label {
	font-size: 13px !important;
	line-height: 16px;
        color: #6e6e6e !important;
}

#wprx-page  .wprx-small-select .wprx-bottom:before {
	display: none;
}
#wprx-page .wprx-menu {
	margin:0;
	padding:0;
	list-style:none;
	/* font:14px/25px Helvetica,sans-serif; */
	/* font:14px/25px "Conv_MyriadPro-Cond", Helvetica,sans-serif !important; */
	font:14px/25px Helvetica,sans-serif !important;
	text-align: left;
}
#wprx-page .wprx-menu li {
	display: inline-block;
	vertical-align: top;
}
#wprx-page .wprx-menu li + li {
	margin-left: 42px;
}
#wprx-page .wprx-menu .wpr-ico {
	display: inline-block;
	vertical-align: top;
	height: 25px;
	padding: 0 3px 0 0;
}
#wprx-page .wprx-menu .wprx-text {
	display: inline-block;
	vertical-align: top;
}
#wprx-page .wprx-menu a{
	color: #fff !important;
	text-decoration: none;
}

#wprx-page .wprx-menu a:hover{
    color: #f1f1f1 !important;
}

#wprx-page .wprx-styled-select select {
   background: transparent;

   padding: 4px;
   padding-right: 26px;
   line-height: 1;
   border: 0px;
   border-radius: 2px;
   font-size: 14px !important;
   height: 24px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(../images/select2.png) no-repeat  100% -25px;
   width: 230px;
   color: #6e6e6e;
}

#wprx-page .wprx-styled-select {
   width: 230px;
   height: 24px;
   overflow: hidden;
   background: url(../images/select2.png) no-repeat;
   z-index:9999999;
}

#wprx-hideme a:hover {
    opacity: 0.6;
}
